@color-red-text: #d95c5c;
@color-blue-text: #3b83c0;
@color-yellow-text: #b58105;

.notification-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .inner {
    margin: 5px;
    position: relative;
  }
  .toolbar {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
    height: 22px;
    .close.button {
      margin: 0;
      padding: 0.3rem 0.3rem;
      background: none;
    }
  }
  .notifications {
    .notification {
      display: none;
      padding: 0.3rem 0.5rem;
      margin: 0;
      height: 30px;
      line-height: 22px;
      .icon {
        float: left;
        height: 22px;
        line-height: 22px;
        margin-right: 5px;
      }
      .title {
        font-weight: bold;
        float: left;
        margin-right: 0.5rem;
      }
      .content {
        text-align: center;
      }
      &:last-child {
        display: block;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
      }
      &.title {
        background: white;
      }
    }
  }
  &.error {
    .toolbar .icon {
      color: @color-red-text;
    }
  }
  &.info {
    .toolbar .icon {
      color: @color-blue-text;
    }
  }
  &.warning {
    .toolbar .icon {
      color: @color-yellow-text;
    }
  }
}
